<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head')  %> 
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <%- include('./partials/header')  %> 

    <main>
        <section class="contenedor-carrusel">
            <div class="carrusel">
                <div class="flecha">
                    aca va el icono de la flecha para la izquierda
                </div>
                <div class="fotos-carrusel">
                    <img src="/img/Tolkeyen-Slider-Glaciar.jpg" class="glaciar">
                </div>
                <div class="flecha">
                    aca va el icono de la flecha para la derecha
                </div>
            </div>
        </section>
        

        <article class="contenedor-tres-productos">
            <% products.forEach(element => { %>
                
                <div class="producto">
                    <div class="foto-producto">
                        <img src="<%= element.imagen%>" class="foto-producto-chica">
                        <div class="descripcion-producto">
                            <div>
                                <p><%= element.nombre  %> </p>
                                <ul class="lista-productos">
                                    <li><%= element.precio  %>  </li>
                                    
                                </ul>
                                <a href="/products/<%= element.id  %>/detail " class="boton-ver-mas">Ver más</a>
                            </div>
                        </div>
                    </div>
                </div>
    
                <% }) %>
           
           

    </main>


   <%- include('./partials/footer')  %> 

</body>

</html>