<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explora Argentina</title>
    <!--Tipografias GoogleFonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <!--Normalize para todas los navegadores-->
    <link rel="stylesheet" href="/css/normalize.css">
    <!--Iconos-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/3b345a021c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <%- include('./partials/header')  %> 

    <main>
        <section class="contenedor-carrusel">
            <div class="carrusel">
                <div class="flecha">
                    aca va el icono de la flecha para la izquierda
                </div>
                <div class="fotos-carrusel">
                    <img src="/img/Tolkeyen-Slider-Glaciar.jpg" class="glaciar">
                </div>
                <div class="flecha">
                    aca va el icono de la flecha para la derecha
                </div>
            </div>
        </section>
        

        <article class="contenedor-tres-productos">
            <% products.forEach(element => { %>
                
                <div class="producto">
                    <div class="foto-producto">
                        <img src="<%= element.imagen%>" class="foto-producto-chica">
                        <div class="descripcion-producto">
                            <div>
                                <p><%= element.nombre  %> </p>
                                <ul class="lista-productos">
                                    <li><%= element.precio  %>  </li>
                                    
                                </ul>
                                <a href="/products/<%= element.id  %>/detail " class="boton-ver-mas">Ver más</a>
                            </div>
                        </div>
                    </div>
                </div>
    
                <% }) %>
           
           

    </main>


   <%- include('./partials/footer')  %> 

</body>

</html>