<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head')  %> 
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <%- include('./partials/header')  %> 

    <main>
        <div class="bienvenida">
            <h4>Bienvenido a Explora Argentina</h4>
        </div>
        <section class="contenedor-carrusel">
            <div class="carrusel">
                <div class="flecha">
                    
                </div>
                <div class="fotos-carrusel">
                    <img src="/img/Tolkeyen-Slider-Glaciar.jpg" class="glaciar">
                </div>
                <div class="flecha">
                    
                </div>
                
            </div>
        </section>

        <div class="aventura">
            <h4>¿Cuál va a ser tu próxima aventura?</h4>
        </div>

        <article class="contenedor-tres-productos">
            <% products.forEach(element => { %>
                
                <div class="producto">
                    <div class="foto-producto">
                        <img src="<%= element.imagen%>" class="foto-producto-chica">
                        <div class="descripcion-producto">
                            <div>
                                <h4><%= element.nombre %></h4>
                                <ul class="lista-productos">
                                    <li><%= element.descripcion %></li>
                                    <br>
                                    <li><%= element.precio %></li>
                                    
                                </ul>
                                <a href="/products/<%= element.id %>/detail " class="boton-ver-mas">Ver más</a>
                            </div>
                        </div>
                    </div>
                </div>
    
                <% }) %>
           
           

    </main>


   <%- include('./partials/footer')  %> 

</body>

</html>