<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explora Argentina</title>
    <!--Tipografias GoogleFonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <!--Normalize para todas los navegadores-->
    <link rel="stylesheet" href="/css/normalize.css">
    <!--Iconos-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/3b345a021c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/productDetail.css">
</head>




<body class="cordoba-producto">
   
   
    <%- include('./partials/header')  %> 
   
   
   <div class = "producto" >
        
         
            <div  class="titulo"> <%= producto.nombre  %>   </div>
            <h4 > Dejate cautivar  </h4 >
          
        </Header >
        <Cifra >
          <div class="img">
     <ul>  <img style="width: 431px; height: 316px; display: block;"  src="<%= producto.imagen%>" alt="Media image"></ul>
     <ul> <button class="cambiar-Ya"> ¡Comprar ya! </button></ul>
 </div>
    
       
        <div class="incluye"> Información del Paquete </div>
        
        <Sección class="descripcion">
         
         <Ul> 
           <div>
             
            <ul> 
           <div class="descripcion-detalle"> 
           <li class="titulo-detalles"><span class="avion"><i class="fas fa-plane"></i></span>Vuelo Operado por Aerolíneas Argentinas</li>
           <P>IDA vie. 25 de jun. a las 20.20 de AEP | Directo<span class="valija"><i class="fas fa-suitcase-rolling"></i></span></P>
           
           <P>VUELTA mar. 27 de jul. a las 13.30 de CORD | Directo <span class="valija"><i class="fas fa-suitcase-rolling"></i></span></P>
           
           <button class="cambiar-boton">Cambiar vuelo</button>
         </ul>
        </div>
        <div class="descripcion-detalle"> 
            <Ul >
              <Li class="titulo-detalles"><span class="icono-cama"><i class="fas fa-bed"></i></span>Descripción</Li>
           <p> <%= producto.descripcion  %>  </p>
             
               
           <button class="cambiar-alojamiento">Cambiar alojamiento</button>
            </Ul >
            </div>
            <div class="descripcion-detalle"> 
            <Ul >
              <Li class="titulo-detalles"><span class="icono-mapa"><i class="fas fa-map"></i></span>Precio</Li>
           
            
             <P> <%= producto.precio  %> </p>
                            
             
            </Ul >
            <Ul>
            </div>
            <div class="descripcion-detalle"> 
              <Ul >
                <Li class="titulo-detalles"> <span class="icono-traslado"><i class="fas fa-clock"></i></span> Destino </Li>
                <P> <%= producto.destino  %>  </P>
         
              </Ul >
              </div>
              </div>
            </Ul >
              
            <form action="/products/<%= producto.id  %>/edit " method="GET" >
            <button class="cambiar-boton">Editar Producto</button> 
          </form> 
            
            <button class="cambiar-boton">Eliminar Producto</button>
        
              </div>
            
          
        </Sección>
       
     
      </div >
   
    
       
    


    <main>


    </main>


    <%- include('./partials/footer')  %> 

</body>

</html>