<!DOCTYPE html>
<html lang="es">

<head>
    
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	

    <%- include('./partials/header')  %> 

	<div class="titulo-register">
        <h3>Mi cuenta</h3>
    </div>

    <div class="contenedor-form-register">

        <form action="/products/<%= Product.idProduct %>?_method=PUT" method="POST" class="crear-formulario">

            <fieldset class="control-formulario">
                <label for="name" class="label-form">Nombre del producto:</label>
                <input type="text" value="<%= Product.name %> " id="name" name="nombre" placeholder="Ej: $40.000">
            </fieldset>

            
            <fieldset class="control-formulario">
                <label for="precio" class="label-form">Precio del producto:</label>
                <input type="numero" value= "<%= Product.price %>" name="precio" id="precio" class="control" placeholder="Ej: $40.000">
            </fieldset>

           

            

            <fieldset class="control-formulario">
                <label for="recibeNoticias" class="titulo-label">descripcion:</label>
                <div class="noticias-usuario">
                    <textarea rows="10"  name="descripcion" id="descripcion" class="control">
                        <%= Product.description %>
                    </textarea>
                    
                </div>
            </fieldset>

            <fieldset class="control-formulario">
                <button type="submit" class="boton-formulario" >Guardar Producto</button>
                <button type="reset" class="boton-formulario">Borrar</button>
            </fieldset>

        </form>

    </div>


    <%- include('./partials/footer')  %> 
</body>	
</html>