<!DOCTYPE html>
<html lang="en">

<head>
   
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    
    <%- include('./partials/header')  %> 
   
    <main>

        <div class="contenedor-chico pagina">
            
            <table>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                </tr>
                <tr>
                    <td>
                        <div class="info">
                            <img class="imagen-paquete" src="/img/mendoza.jpg">
                            <div>
                                <p><%= producto.name %></p>
                                <p><%= producto.description %></p>
                                <small>$<%= producto.price %></small>
                                <br>
                                
                            </div>
                        </div>
                    </td>
                    <td><input  value="1"></td>
                    <td>$<%=producto.price%></td>
                </tr>
                
                
            </table>

            <div class="precio-total">

                

            </div>
            <div class="padre">
            <button class="comprar">Pagar</button>
            </div>

        </div>
      


    </main>


    

    <%- include('./partials/footer')  %> 

    
    

</body>

</html>